body{
    display: flex;
    flex-direction: column;
}

#big{
    background-color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

button{
    border-style: none;
    margin-bottom: 25px;
    background-color: rgb(255, 205, 205);   
}

.conte{
    border: 2px solid black;
    margin: 0 auto;
    display: grid;
    width: 400px;
    height: 400px;
}

.row{
    display: flex;
    flex-direction: row;
}
.small{
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0,);
}